.treaty-item {
   list-style: none;
}

.title-treaty{
   color: var(--main-title);
   font-size: 44px;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 25px;
   font-weight: 500;
}

.text-treaty{
   font-size: 20px;
   text-align: center;
   margin-bottom: 62px;
   line-height: 28px;
   max-width: 912px;
   margin-left: auto;
   margin-right: auto;
}

@media screen and (max-width: 480px) {
   .title-treaty{
      font-size: 36px;
   }
   .text-treaty{
      font-size: 18px;
   }
}
