:root {
   // --color-primary-hover: #2196f3;
   --color-banner: rgba(171, 168, 218, 0.1);
   // --color-btn-banner-hover: #188ce8;
   --color-black: #000000;
   --color-yellow: #FEC901;
   --main-title: #6B5CDA;
   // --color-gray: #f5f4fa;
   // --primary-color: #212121;
   // --secondary-color: #757575;
   // --color-svg: #afb1b8;
   --primary-font-famaly: "Roboto", sans-serif;
   // --secondary-font-famaly: "Raleway", sans-serif;
   --main-font-size: 16px;
   --main-line-height: 22.4px;
   --main-color: #464646;
   --border-radius: rgba(154, 105, 215, 0.3);
   // --secondary-color-link: #757575;
 }